    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <partial name="Partial/_LeftSideBar" />
                </div>
                <div class="col-sm-9">
                    <partial name="Partial/_SingleBlogPostArea" />

                    <partial name="Partial/_BlogRatingArea" />

                    <partial name="Partial/_BlogSocialsShare" />

                    <partial name="Partial/_BlogMediaComments" />

                    <partial name="Partial/_BlogResponseArea" />

                    <partial name="Partial/_BlogReplyBox" />

                    
                    
                </div>
            </div>
        </div>
    </section>

   



   