@model CartViewModel

<section id="cart_items">
    <div class="container">
        <partial name="Partial/_Breadcrumbs" />

        <partial name="Partial/_StepOne" />

        <partial name="Partial/_ShopperInformations" />

        <partial name="Partial/_ReviewPayment" />

        <partial name="Partial/_PaymentOptions" />

    </div>
</section> <!--/#cart_items-->
